<div>
    {{title}}
</div>
<div>
    FilterBy: <input 
    [(ngModel)]='listFilter'
    type="text">
</div>
<div>filtered by:{{ listFilter }}</div>
<div>
    <table *ngIf='products && products.length'>
        <thead>
            <tr>
                <th>
                    <button (click)='toggleImage()'>{{showImage? 'hide':'show'}} image</button>
                </th>
                <th>product</th>
                <th>code</th>
                <th>available</th>
                <th>price</th>
                <th>5 star rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let product of products'>
                <td><img 
                    *ngIf='showImage'
                    [src]='product.imageUrl'
                    [title]='product.productName'></td>
                <td>{{product.productName}}</td>
                <td>{{product.productCode | lowercase}}</td>
                <td>{{product.releaseDate}}</td>
                <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                <td>{{product.starRating}}</td>
            </tr>
        </tbody>
    </table>
</div>